{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb-typescript"
  ],
  "rules": {
    "max-len": [2, 120],
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "react/button-has-type": 0,
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          ".storybook/**",
          "stories/**",
          "**/*.stories.tsx"
        ]
      }
    ],
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["Label"],
      "labelAttributes": ["title"],
      "controlComponents": ["Input", "Checkbox"],
      "depth": 3
    }]
  }
}